<section>
    <form class="row g-3" action="/customer/create-session" method="post">
            <h1>Fill Details</h1>
            <div class="col-md-6">
            <label for="inputName4" class="form-label">First Name</label>
            <input type="name" class="form-control" id="inputName4" name="first">
        </div>
        <div class="col-md-6">
            <label for="inputName4" class="form-label">Last Name</label>
            <input type="name" class="form-control" id="inputName4" name="last">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Example: abc@gmail.com">
        </div>
        <div class="col-md-6">
            <label for="inputNumber4" class="form-label">Amount</label>
            <input type="number" class="form-control" id="inputNumber4" name="amount" placeholder="Enter Amount">
        </div>
        
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form>
</section>