#content {
    width: 100vw;
    height: 80vh;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;

    #first {
        width: 40%;
    }

    #second {
        width: 40%;
    }

    h1{
        margin-bottom: 20px;
    }
}

.lbel{
    font-weight: 700;
}

